VITE_SUPABASE_PROJECT_ID="enedqugagdewrnmexayz"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVuZWRxdWdhZ2Rld3JubWV4YXl6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0MTIyNzcsImV4cCI6MjA4OTk4ODI3N30.CMkOXgdutMrj8U_WRA83KGwJhUmk66psxMLj6pglUFE"
VITE_SUPABASE_URL="https://enedqugagdewrnmexayz.supabase.co"
